* {
  margin     : 0;
  padding    : 0;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif !important;
}

body {
  background-color: #505050;
}

.viewer-close {
  display: none;
}

.winbox {
  border-radius: 4px;
}

.winbox.min {
  border-radius: 0;
}

.wb-body {
  /* the width of window border: */
  margin    : 4px;
  color     : #fff;
  background: #131820;
}

.wb-title {
  font-size: 13px;
}

.wb-icon * {
  opacity: 0.65;
}

.wb-icon *:hover {
  opacity: 1;
}

.wb-full {
  display: none;
}

.wb-body::-webkit-scrollbar {
  width: 12px;
}

.wb-body::-webkit-scrollbar-track {
  background: transparent;
}

.wb-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background   : #404855;
}

.wb-body::-webkit-scrollbar-thumb:window-inactive {
  background: #181f2a;
}

.wb-body::-webkit-scrollbar-corner {
  background: transparent;
}

.viewer-crop {
  background-image   : url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-crop'%3E%3Cpath d='M6.13 1L6 16a2 2 0 0 0 2 2h15'%3E%3C/path%3E%3Cpath d='M1 6.13L16 6a2 2 0 0 1 2 2v15'%3E%3C/path%3E%3C/svg%3E");
  width              : 16px;
  height             : 16px;
  background-repeat  : no-repeat;
  background-position: center center;
}

.viewer-download {
  background-image   : url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-download'%3E%3Cpath d='M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4'%3E%3C/path%3E%3Cpolyline points='7 10 12 15 17 10'%3E%3C/polyline%3E%3Cline x1='12' y1='15' x2='12' y2='3'%3E%3C/line%3E%3C/svg%3E");
  width              : 16px;
  height             : 16px;
  background-repeat  : no-repeat;
  background-position: center center;
}

.viewer-colorpicker {
  background-image   : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='16' height='16' x='0' y='0' viewBox='0 0 24 24' style='enable-background:new 0 0 512 512' xml:space='preserve' class=''%3E%3Cg%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='m21.251 3.827a4.263 4.263 0 0 0 -6.5-.59 4.292 4.292 0 0 0 -.97 1.52 6.24 6.24 0 0 1 -1.39 2.37l-.26-.26a1 1 0 0 0 -1.41 0 1.008 1.008 0 0 0 0 1.42l.26.26-7.538 7.532a4.925 4.925 0 0 0 -1.19 5.041 1.035 1.035 0 0 0 .63.63 5.048 5.048 0 0 0 1.57.25 4.9 4.9 0 0 0 3.47-1.44l7.539-7.541.26.26a.97.97 0 0 0 .7.3 1.005 1.005 0 0 0 .71-1.71l-.26-.26.22-.22a4.754 4.754 0 0 1 1.97-1.1 4.232 4.232 0 0 0 2.18-1.61 4.28 4.28 0 0 0 .009-4.852zm-14.751 15.322a2.86 2.86 0 0 1 -2.47.82 2.891 2.891 0 0 1 .82-2.47l7.539-7.541 1.65 1.65z' fill='%23ffffff' data-original='%23000000' style='' class=''%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  width              : 16px;
  height             : 16px;
  background-repeat  : no-repeat;
  background-position: center center;
}

.viewer-details {
  background-image   : url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-list'%3E%3Cline x1='8' y1='6' x2='21' y2='6'%3E%3C/line%3E%3Cline x1='8' y1='12' x2='21' y2='12'%3E%3C/line%3E%3Cline x1='8' y1='18' x2='21' y2='18'%3E%3C/line%3E%3Cline x1='3' y1='6' x2='3.01' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='12' x2='3.01' y2='12'%3E%3C/line%3E%3Cline x1='3' y1='18' x2='3.01' y2='18'%3E%3C/line%3E%3C/svg%3E");
  width              : 16px;
  height             : 16px;
  background-repeat  : no-repeat;
  background-position: center center;
}

.viewer-about {
  background-image   : url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-info'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='16' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='8' x2='12.01' y2='8'%3E%3C/line%3E%3C/svg%3E");
  width              : 16px;
  height             : 16px;
  background-repeat  : no-repeat;
  background-position: center center;
}

.viewer-paint {
  background-image   : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-pen-tool'%3E%3Cpath d='M12 19l7-7 3 3-7 7-3-3z'%3E%3C/path%3E%3Cpath d='M18 13l-1.5-7.5L2 2l3.5 14.5L13 18l5-5z'%3E%3C/path%3E%3Cpath d='M2 2l7.586 7.586'%3E%3C/path%3E%3Ccircle cx='11' cy='11' r='2'%3E%3C/circle%3E%3C/svg%3E");
  width              : 16px;
  height             : 16px;
  background-repeat  : no-repeat;
  background-position: center center;
}

.viewer-play {
  background-image   : url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-maximize'%3E%3Cpath d='M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3'%3E%3C/path%3E%3C/svg%3E");
  width              : 16px;
  height             : 16px;
  background-repeat  : no-repeat;
  background-position: center center;
}

.viewer-help {
  background-image   : url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-help-circle'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cpath d='M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3'%3E%3C/path%3E%3Cline x1='12' y1='17' x2='12.01' y2='17'%3E%3C/line%3E%3C/svg%3E");
  width              : 16px;
  height             : 16px;
  background-repeat  : no-repeat;
  background-position: center center;
}

.viewer-print {
  background-image   : url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-printer'%3E%3Cpolyline points='6 9 6 2 18 2 18 9'%3E%3C/polyline%3E%3Cpath d='M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2'%3E%3C/path%3E%3Crect x='6' y='14' width='12' height='8'%3E%3C/rect%3E%3C/svg%3E");
  width              : 16px;
  height             : 16px;
  background-repeat  : no-repeat;
  background-position: center center;
}

.viewer-theme {
  background-image   : url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-sun'%3E%3Ccircle cx='12' cy='12' r='5'%3E%3C/circle%3E%3Cline x1='12' y1='1' x2='12' y2='3'%3E%3C/line%3E%3Cline x1='12' y1='21' x2='12' y2='23'%3E%3C/line%3E%3Cline x1='4.22' y1='4.22' x2='5.64' y2='5.64'%3E%3C/line%3E%3Cline x1='18.36' y1='18.36' x2='19.78' y2='19.78'%3E%3C/line%3E%3Cline x1='1' y1='12' x2='3' y2='12'%3E%3C/line%3E%3Cline x1='21' y1='12' x2='23' y2='12'%3E%3C/line%3E%3Cline x1='4.22' y1='19.78' x2='5.64' y2='18.36'%3E%3C/line%3E%3Cline x1='18.36' y1='5.64' x2='19.78' y2='4.22'%3E%3C/line%3E%3C/svg%3E");
  width              : 16px;
  height             : 16px;
  background-repeat  : no-repeat;
  background-position: center center;
}

.viewer-exit {
  background-image   : url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-power'%3E%3Cpath d='M18.36 6.64a9 9 0 1 1-12.73 0'%3E%3C/path%3E%3Cline x1='12' y1='2' x2='12' y2='12'%3E%3C/line%3E%3C/svg%3E");
  width              : 16px;
  height             : 16px;
  background-repeat  : no-repeat;
  background-position: center center;
}

.viewer-upload {
  background-image   : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-share'%3E%3Cpath d='M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8'%3E%3C/path%3E%3Cpolyline points='16 6 12 2 8 6'%3E%3C/polyline%3E%3Cline x1='12' y1='2' x2='12' y2='15'%3E%3C/line%3E%3C/svg%3E");
  width              : 16px;
  height             : 16px;
  background-repeat  : no-repeat;
  background-position: center center;
}

.viewer-ocr {
  background-image   : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath style='stroke:none;fill-rule:nonzero;fill:%23fff;fill-opacity:1' d='M13.547 0H16v2.453h-2.453ZM0 0h2.453v2.453H0ZM13.547 13.547H16V16h-2.453Zm0 0'/%3E%3Cpath style='stroke:none;fill-rule:nonzero;fill:%23fff;fill-opacity:1' d='M12.902 3.098V1.23H3.098v1.868H1.23v9.804h1.868v1.868h9.804v-1.868h1.868V3.098Zm-1.59 1.945H8.727v7.238h-1.45V5.043h-2.59v-1.32h6.63Zm0 0'/%3E%3Cpath style='stroke:none;fill-rule:nonzero;fill:%23fff;fill-opacity:1' d='M0 13.547h2.453V16H0Zm0 0'/%3E%3C/svg%3E");
  width              : 16px;
  height             : 16px;
  background-repeat  : no-repeat;
  background-position: center center;
}

.viewer-photopea {
  background-image   : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='%23ffffff' stroke='none' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-share'%3E%3Cpath d='M3.9,0h16.2C22.3,0,24,1.7,24,3.9v16.2c0,2.2-1.7,3.9-3.9,3.9H6.4l0-10.3h0c0,0,0,0,0-0.1 c0-3.9,3.1-7.1,7-7.1c2.3,0,4.2,1.9,4.2,4.3S15.6,15,13.3,15c-0.8,0-1.4-0.6-1.4-1.4c0-0.8,0.6-1.4,1.4-1.4c0.8,0,1.4-0.6,1.4-1.4 c0-0.8-0.6-1.4-1.4-1.4c-2.3,0-4.2,1.9-4.2,4.3s1.9,4.3,4.2,4.3c3.9,0,7-3.2,7-7.1s-3.1-7.1-7-7.1c-5.4,0-9.8,4.4-9.8,9.9 c0,0,0,0.1,0,0.1h0l0,10.3c-2-0.2-3.6-1.8-3.6-3.9V3.9C0,1.7,1.7,0,3.9,0L3.9,0z'/%3E%3C/svg%3E");
  width              : 16px;
  height             : 16px;
  background-repeat  : no-repeat;
  background-position: center center;
}

.viewer-fit-to-screen {
  background-image   : url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgZmlsbD0iI2ZmZmZmZiIgY2xhc3M9ImJpIGJpLWFycm93cy1mdWxsc2NyZWVuIiB2aWV3Qm94PSIwIDAgMTYgMTYiPgogIDxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTUuODI4IDEwLjE3MmEuNS41IDAgMCAwLS43MDcgMGwtNC4wOTYgNC4wOTZWMTEuNWEuNS41IDAgMCAwLTEgMHYzLjk3NWEuNS41IDAgMCAwIC41LjVINC41YS41LjUgMCAwIDAgMC0xSDEuNzMybDQuMDk2LTQuMDk2YS41LjUgMCAwIDAgMC0uNzA3em00LjM0NCAwYS41LjUgMCAwIDEgLjcwNyAwbDQuMDk2IDQuMDk2VjExLjVhLjUuNSAwIDEgMSAxIDB2My45NzVhLjUuNSAwIDAgMS0uNS41SDExLjVhLjUuNSAwIDAgMSAwLTFoMi43NjhsLTQuMDk2LTQuMDk2YS41LjUgMCAwIDEgMC0uNzA3em0wLTQuMzQ0YS41LjUgMCAwIDAgLjcwNyAwbDQuMDk2LTQuMDk2VjQuNWEuNS41IDAgMSAwIDEgMFYuNTI1YS41LjUgMCAwIDAtLjUtLjVIMTEuNWEuNS41IDAgMCAwIDAgMWgyLjc2OGwtNC4wOTYgNC4wOTZhLjUuNSAwIDAgMCAwIC43MDd6bS00LjM0NCAwYS41LjUgMCAwIDEtLjcwNyAwTDEuMDI1IDEuNzMyVjQuNWEuNS41IDAgMCAxLTEgMFYuNTI1YS41LjUgMCAwIDEgLjUtLjVINC41YS41LjUgMCAwIDEgMCAxSDEuNzMybDQuMDk2IDQuMDk2YS41LjUgMCAwIDEgMCAuNzA3eiIvPgo8L3N2Zz4=");
  width              : 16px;
  height             : 16px;
  background-repeat  : no-repeat;
  background-position: center center;
}

.viewer-settings {
  background-image   : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-settings'%3E%3Ccircle cx='12' cy='12' r='3'%3E%3C/circle%3E%3Cpath d='M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z'%3E%3C/path%3E%3C/svg%3E");
  width              : 16px;
  height             : 16px;
  background-repeat  : no-repeat;
  background-position: center center;
}

.viewer-tineye {
  background-image   : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'%3E%3C/circle%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'%3E%3C/line%3E%3C/svg%3E");
  width              : 16px;
  height             : 16px;
  background-repeat  : no-repeat;
  background-position: center center;
}

.viewer-qr {
  background-image   : url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 3H3V9H5V5H9V3ZM3 21V15H5V19H9V21H3ZM15 3V5H19V9H21V3H15ZM19 15H21V21H15V19H19V15ZM7 7H11V11H7V7ZM7 13H11V17H7V13ZM17 7H13V11H17V7ZM13 13H17V17H13V13Z' fill='%23ffffff' /%3E%3C/svg%3E");
  width              : 16px;
  height             : 16px;
  background-repeat  : no-repeat;
  background-position: center center;
}

.viewer-more {
  background-image   :  url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-more-horizontal'%3E%3Ccircle cx='12' cy='12' r='1'%3E%3C/circle%3E%3Ccircle cx='19' cy='12' r='1'%3E%3C/circle%3E%3Ccircle cx='5' cy='12' r='1'%3E%3C/circle%3E%3C/svg%3E");
  width              : 16px;
  height             : 16px;
  background-repeat  : no-repeat;
  background-position: center center;
}


.tui-image-editor-header-buttons {
  display: none;
}

.viewer-toolbar>ul {
  margin: 0px auto 20px !important;
}

#imgEditor {
  width : 100%;
  height: 100%;
}

.tippy-box[data-animation=scale][data-placement^=top] {
  transform-origin: bottom
}

.tippy-box[data-animation=scale][data-placement^=bottom] {
  transform-origin: top
}

.tippy-box[data-animation=scale][data-placement^=left] {
  transform-origin: right
}

.tippy-box[data-animation=scale][data-placement^=right] {
  transform-origin: left
}

.tippy-box[data-animation=scale][data-state=hidden] {
  transform: scale(.5);
  opacity  : 0
}

/* img without specific class name */


.cropper-buttons {
  position : absolute;
  z-index  : 9999;
  bottom   : 15px;
  left     : 50%;
  transform: translate(-50%, -50%);
}



.wb-body {
  background-color: #1e262c !important;
}

/* crop button */


/* CSS */
.crop-btn {
  appearance         : none;
  background-color   : #1a1a1a;
  border             : 1px solid rgba(27, 31, 35, .15);
  
  box-shadow         : rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing         : border-box;
  color              : #fff;
  cursor             : pointer;
  display            : inline-block;
  font-family        : -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size          : 11px;
  font-weight        : 600;
  line-height        : 20px;
  padding            : 6px 16px;
  position           : relative;
  text-align         : center;
  text-decoration    : none;
  user-select        : none;
  -webkit-user-select: none;
  touch-action       : manipulation;
  vertical-align     : middle;
  white-space        : nowrap;
  border-radius: 0px !important;
}

.crop-btn:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline   : none;
}

.crop-btn:hover {
    background: #585858 !important;
}

.crop-btn:focus {
  box-shadow: rgba(63, 63, 63, 0.4) 0 0 0 3px;
  outline   : none;
}

.crop-btn:disabled {
  background-color: #363636;
  border-color    : rgba(27, 31, 35, .1);
  color           : rgba(255, 255, 255, .8);
  cursor          : default;
}

.crop-btn:active {
  background-color: #3a3a3a;
  box-shadow      : rgba(20, 70, 32, .2) 0 1px 0 inset;
}

/* CSS */
.cancel-btn {
  appearance         : none;
  background-color   : #FAFBFC;
  border             : 1px solid rgba(27, 31, 35, 0.15);
  border-radius      : 6px;
  box-shadow         : rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing         : border-box;
  color              : #24292E;
  cursor             : pointer;
  display            : inline-block;
  font-family        : -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size          : 11px;
  font-weight        : 500;
  line-height        : 20px;
  list-style         : none;
  padding            : 6px 16px;
  position           : relative;
  transition         : background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select        : none;
  -webkit-user-select: none;
  touch-action       : manipulation;
  vertical-align     : middle;
  white-space        : nowrap;
  word-wrap          : break-word;
}

.cancel-btn:hover {
  background-color   : #F3F4F6;
  text-decoration    : none;
  transition-duration: 0.1s;
}

.cancel-btn:disabled {
  background-color: #FAFBFC;
  border-color    : rgba(27, 31, 35, 0.15);
  color           : #959DA5;
  cursor          : default;
}

.cancel-btn:active {
  background-color: #EDEFF2;
  box-shadow      : rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition      : none 0s;
}

.cancel-btn:focus {
  outline: 1px transparent;
}

.cancel-btn:before {
  display: none;
}

.cancel-btn:-webkit-details-marker {
  display: none;
}

#details-wrapper {
  padding    : 10px;
  font-size  : 12px;
  white-space: pre-wrap;
}

.pcr-button {
  display: none;
}


.no-scrollbar>.wb-body {
  overflow: hidden !important;
}

.pcr-app {
  background-color: #1e262c !important;
}

.toastify {
  box-shadow   : 0 0 10px rgba(0, 0, 0, 0.2) !important;
  font-size    : 12px !important;
  border-radius: 4px !important;
}

.pcr-result {
  background: #111519 !important;
  color     : #ffffff !important;
}

.pcr-app .pcr-interaction input {
  background-color: #3b3e41 !important;
  color           : #e0e0d0 !important;
}

.pcr-app .pcr-interaction .pcr-type.active {
  background-color: #0a78e6 !important;
  color           : #e0e0d0 !important;
}

.ptro-holder-wrapper {
  z-index: 99999 !important;
}

#settings-wrapper {
  padding: 10px !important;

}

.cropper-wrap-box {
  background-image: none !important;
  opacity         : 1 !important;
}

.cropper-canvas>img {
  opacity: 0 !important;
}

.gg-crop {
  /* crop icon */
  background-image   : url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.93164 9.00891V16H15V20.0089H17V16H20.9316V14H17V7.00891H9.93164V3H7.93164V7.00891H4V9.00891H7.93164ZM9.93164 9.00891V14H15V9.00891H9.93164Z' fill='%23ffffff' /%3E%3C/svg%3E");
  width              : 16px;
  height             : 16px;
  background-repeat  : no-repeat;
  background-position: center center;
  padding            : 10px;
  margin-right       : 5px;
}

.gg-cancel {
  background-image   : url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-x'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E");
  width              : 16px;
  height             : 16px;
  background-repeat  : no-repeat;
  background-position: center center;
  padding            : 10px;
  margin-right       : 5px;
}

.json__value--type-object {
  opacity: 0 !important;
}

.json {
  font-family: monospace;
  font-size  : 12px;
}

.json>.json__item {
  display: block;
}

.json__item {
  display            : none;
  margin-top         : 10px;
  padding-left       : 20px;
  -webkit-user-select: none;
  -moz-user-select   : none;
  -ms-user-select    : none;
  user-select        : none;
}

.json__item--collapsible {
  cursor  : pointer;
  overflow: hidden;
  position: relative;
}

.json__item--collapsible::before {
  content : "+";
  position: absolute;
  left    : 5px;
}

.json__item--collapsible::after {
  background-color: lightgrey;
  content         : "";
  height          : 100%;
  left            : 9px;
  position        : absolute;
  top             : 26px;
  width           : 1px;
}

.json__item--collapsible:hover>.json__key,
.json__item--collapsible:hover>.json__value {
  text-decoration: underline;
}

.json__toggle {
  display: none;
}

.json__toggle:checked~.json__item {
  display: block;
}

.json__key {
  color         : rgb(255, 255, 255);
  font-weight   : bold;
  display       : inline;
  text-transform: capitalize;
}

.json__key::after {
  content: ": ";
}

.json__value {
  display: inline;
}

.json__value--string {
  color: rgb(255, 255, 255);
}

.json__value--number {
  color: rgb(255, 255, 255);
}

.json__value--boolean {
  color: rgb(255, 255, 255);
}

.ocr-img {
  width    : 500px;
  height   : auto;
  max-width: 100%;
}


.croppr-image,
.croppr-imageClipped {
  display: block !important;
}

.ocr-controls {
  padding: 10px;
}


#ocr-text {
  width     : 100%;
  height    : 200px;
  margin-top: 15px;
  background: transparent;
  border    : 1px solid rgb(56, 56, 56);
  color     : white;
}

.select-dropdown,
.select-dropdown * {
  margin    : 0;
  padding   : 0;
  position  : relative;
  box-sizing: border-box;
}

.select-dropdown {
  position        : relative;
  background-color: #E6E6E6;
  border-radius   : 4px;
}

.select-dropdown select {
  font-size         : 1rem;
  font-weight       : normal;
  max-width         : 100%;
  padding           : 8px 24px 8px 10px;
  border            : none;
  background-color  : transparent;
  -webkit-appearance: none;
  -moz-appearance   : none;
  appearance        : none;
}

.select-dropdown select:active,
.select-dropdown select:focus {
  outline   : none;
  box-shadow: none;
}

.select-dropdown:after {
  content     : "";
  position    : absolute;
  top         : 50%;
  right       : 8px;
  width       : 0;
  height      : 0;
  margin-top  : -2px;
  border-top  : 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left : 5px solid transparent;
}


#ocr-languages {
  width : 100%;
  height: 25px;
}

.ocr-title {
  margin-bottom: 10px;
}

.crop-btn {
  margin    : 0px !important;
  background: #1e262c !important;
  border    : 0px !important;
  box-shadow: none !important;
  color     : white !important;
  width     : 100% !important;
}



/* CSS */
.ocr-button {
  margin-top         : 15px;
  width              : 100%;
  appearance         : none;
  background-color   : #FAFBFC;
  border             : 1px solid rgba(27, 31, 35, 0.15);
  border-radius      : 6px;
  box-shadow         : rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing         : border-box;
  color              : #24292E;
  cursor             : pointer;
  display            : inline-block;
  font-family        : -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size          : 14px;
  font-weight        : 500;
  line-height        : 20px;
  list-style         : none;
  padding            : 6px 16px;
  position           : relative;
  transition         : background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select        : none;
  -webkit-user-select: none;
  touch-action       : manipulation;
  vertical-align     : middle;
  white-space        : nowrap;
  word-wrap          : break-word;
}

.ocr-button:hover {
  background-color   : #F3F4F6;
  text-decoration    : none;
  transition-duration: 0.1s;
}

.ocr-button:disabled {
  background-color: #FAFBFC;
  border-color    : rgba(27, 31, 35, 0.15);
  color           : #959DA5;
  cursor          : default;
}

.ocr-button:active {
  background-color: #EDEFF2;
  box-shadow      : rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition      : none 0s;
}

.ocr-button:focus {
  outline: 1px transparent;
}

.ocr-button:before {
  display: none;
}

.ocr-button:-webkit-details-marker {
  display: none;
}

.ocr-result {
  padding: 10px;
}

#ocr-textarea {
  width     : 100%;
  height    : 200px;
  border    : 1px solid rgb(68, 68, 68);
  background: transparent;
  color     : white;
  resize    : none;
}

#qr-textarea {
  width     : 100%;
  height    : 50px;
  border    : 1px solid rgb(68, 68, 68);
  background: transparent;
  color     : white;
  resize    : none;
}


.gg-spinner {
  margin   : 0px 15px 0px 0px;
  transform: scale(var(--ggs, 1))
}

.gg-spinner,
.gg-spinner::after,
.gg-spinner::before {
  box-sizing: border-box;
  position  : relative;
  display   : block;
  width     : 20px;
  height    : 20px
}

.gg-spinner::after,
.gg-spinner::before {
  content      : "";
  position     : absolute;
  border-radius: 100px
}

.gg-spinner::before {
  animation       : spinner 1s cubic-bezier(.6, 0, .4, 1) infinite;
  border          : 3px solid transparent;
  border-top-color: currentColor
}

.gg-spinner::after {
  border : 3px solid;
  opacity: .2
}

@keyframes spinner {
  0% {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(359deg)
  }
}

#crop-img {
  display: block;

  /* This rule is very important, please don't ignore this */
  max-width: 100%;
}

.center-crop-btn {
  position        : absolute;
  left            : 50%;
  top             : 50%;
  transform       : translate(-50%, -50%);
  cursor          : pointer;
  background-color: rgba(0, 0, 0, 0.8);
  height          : 30px;
  width           : 30px;
  border-radius   : 50%;
  overflow        : hidden;
  padding         : 5px;
}

.confirm-icon {
  background-image   : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
  width              : 16px;
  height             : 16px;
  background-repeat  : no-repeat;
  background-position: center center;
  padding            : 10px;
  margin-right       : 5px;
  z-index            : 9999;
}

.croppr-handle {
  border-radius   : 50% !important;
  background-color: rgba(0, 0, 0, 0.8) !important;
  border          : 1px solid #ffffff !important;
}

.fade-in-right {
	-webkit-animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}


.fade-out-right {
	-webkit-animation: fade-out-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: fade-out-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes fade-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
}

#btn-crop-img {
  position: sticky !important;
    bottom: 0px !important;
    height: 37px !important;
}
