:root {
    --shortcut-btn-main: hsl(215, 60%, 40%);
    --shortcut-btn-dim: hsl(215, 60%, 30%);
    --shortcut-btn-border: hsl(215, 60%, 35%);
    --shortcut-btn-text: hsl(215, 58%, 90%);

    --vc-off-color: hsl(0, 0%, 30%);
    --vc-on-color: hsl(135, 75%, 30%);
    --vc-accent-color: hsl(0, 0%, 100%);
    --vc-size: 11px;
    --vc-animation-speed: 0.15s ease-out;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    height: 95%;
}

.main {
    margin: auto;
    width: 542px;
}

/* adds a button background to the shortcut label, and changes the colors to make it stick out from the key combination */
span.kbc-button {
    box-shadow: 0 0 var(--shortcut-btn-dim), 0 0 var(--shortcut-btn-dim), 0 1px var(--shortcut-btn-dim),
        0 2px var(--shortcut-btn-dim), 0 3px var(--shortcut-btn-dim), 0 4px var(--shortcut-btn-dim),
        0 5px var(--shortcut-btn-dim), 2px 2.5px 4px var(--shortcut-btn-dim), 0 -1px 2.5px var(--shortcut-btn-dim);
    background-color: var(--shortcut-btn-main);
    color: var(--shortcut-btn-text);
    border: 1px solid var(--shortcut-btn-border);
    height: 25px;
    width: 160px;
    text-align: center;
}

/* .type-header-container .kbc-button {
    box-shadow: 0 0 var(--shortcut-btn-dim), 0 0 var(--shortcut-btn-dim), 0 1px var(--shortcut-btn-dim),
        0 2px var(--shortcut-btn-dim), 0 3px var(--shortcut-btn-dim), 0 4px var(--shortcut-btn-dim),
        0 5px var(--shortcut-btn-dim), 2px 2.5px 4px var(--shortcut-btn-dim), 0 -1px 2.5px var(--shortcut-btn-dim);
    background-color: var(--shortcut-btn-main);
    color: var(--shortcut-btn-text);
    border: 1px solid var(--shortcut-btn-border);
} */

span.kbc-button:after {
    border-color: var(--shortcut-btn-border);
}


/* Button Widths */
.default-btn.kbc-button {
    width: 275px;
}
.custom-btn.kbc-button {
    width: 210px;
    margin-left: 8px;
    margin-right: auto;
}

.type-header-container {
    display: flex;
    align-items: center;
}

.save-btn.kbc-button {
    width: 50px;
    padding: 0;
    margin: 0;
    text-align: center;
}
.custom-hotkey-modifier.kbc-button {
    width: 100px;
    height: 25px;
    cursor: pointer;
}
.custom-hotkey-key.kbc-button {
    width: 50px;
    height: 25px;
    text-align: center;
    cursor: pointer;
}
.custom-hotkey-key.kbc-button:focus-visible {
    cursor: text;
}
.shortcut-mod {
    width: 58.96px;
    height: 23.35px;
    text-align: center;
}

/* ~~~ On/Off Toggle Styling Section ~~~ */

/* On/Off Toggle Animation Smoothing */
.vc-toggle-container label * {
    -webkit-transition: var(--vc-animation-speed);
    -moz-transition: var(--vc-animation-speed);
    -o-transition: var(--vc-animation-speed);
    transition: var(--vc-animation-speed);
}

.vc-toggle-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Toggle Size */
.vc-switch {
    width: 50px;
    height: 30px;
    margin-left: 3px;
    float: right;
}

/* Primary Settings */
.vc-toggle-container label {
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-radius: 999px;
    cursor: pointer;
}
.vc-switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: var(--vc-size);
    background: var(--vc-off-color);
    border-radius: inherit;
}

/* Default-Input Position */
.vc-switch-input {
    position: absolute;
    transform: translate3d(5px, 5px, 0);
}

/* On/Off Label Text Position */
.vc-switch-label:before,
.vc-switch-label:after {
    position: absolute;
    top: 50%;
    padding: 0px;
    margin-top: -8px;
}

/* 'Off' Label Settings */
.vc-switch-label:before {
    content: attr(data-off);
    color: var(--vc-accent-color);
    right: var(--vc-size);
}

/* 'On' Label Settings */
.vc-switch-label:after {
    content: attr(data-on);
    color: var(--vc-accent-color);
    opacity: 0;
    left: var(--vc-size);
}

/* Color when Input is 'On' -- Shows 'On' Text -- Hides 'Off' Text */
.vc-switch-input:checked ~ .vc-switch-label {
    background: var(--vc-on-color);
}
.vc-switch-input:checked ~ .vc-switch-label:before {
    opacity: 0;
}
.vc-switch-input:checked ~ .vc-switch-label:after {
    opacity: 1;
}

/* Circle Handle Settings */
.vc-handle {
    position: absolute !important;
    top: 7.5px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: var(--vc-accent-color);
    border-radius: 999px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

/* Handle Positioning when On */
.vc-switch-input:checked ~ .vc-handle {
    left: unset;
    right: 5px;
}

/* *The handle's width while the toggle is clicked*/
.vc-switch-label:active ~ .vc-handle,
.vc-handle:active {
    width: 30px;
}

/* Save Button Styling */
.save-and-reload {
    margin: 0 !important;
    padding: 0.5em 1em;
    width: 100% !important;
    background: #292929;
    color: var(--vc-accent-color);
    border: none;
    cursor: pointer;
}
.save-and-reload:hover {
    background: var(--vc-off-color);
    text-decoration: none;
    transition-duration: 0.2s;
}

.main {
    margin: 0;
    overflow: hidden;
    overflow-y: visible;
    height: calc(100% - 32px);
    padding: 0 10px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
